body {
  margin: 0;
  font-family: "Almarai", sans-serif;
}
.color-body {
  background-color: white;
  height: 100vh;
}
.nav-style {
  height: 90px;
  width: 1440px;
  background-color: #b45b35;
}

.logo {
  height: 72px;
  width: 78px;
}